/* 
   Author: Group 20
   Date: Nov 20, 2021 
   Filename: style.css
*/

/* Custom css */


/*content*/
h1 {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#003366 ;
  font-size: xx-large;
}

h5 {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#003366 ;
}

body {
  padding: 50px;
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

a {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #00B7FF;
  font-size: 18px;
}

span {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#003366 ;
}

#cardcorner {
  border-radius: 15px;
  box-shadow: 3px 3px 3px 	#999999

}

