/* 
   Author: Group 20
   Date: Nov 20, 2021 
   Filename: style.css
*/

/* templates and features */


.navbar {
  background-color: #0033664f;
}

.navbar-brand {
  padding-left: 30px;
}

@media (max-width: 480px) {
  .x-navbar {
      background-color: #003366f6;
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.226);
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
  border-left: solid #00afdf 40px;
}
.card:hover {
  transform:scale(1.1);
}

.card:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.card2 {
  background-color: rgba(0, 0, 0, 0.226);
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}

.card:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

/*content*/
h1 {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#fff ;
  font-size: xx-large;
}

h5 {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#fff ;
}

body {
  background-image: linear-gradient(to right bottom, #003366, #003b70, #004479, #004c83, #00558d, #005f97, #006aa2, #0074ac, #0083ba, #0092c7, #00a1d3, #00b0df);
  padding: 50px;
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #fff
}

a {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #00B7FF;
  font-size: 18px;
}

span {
  font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color:	#003366 ;
}

footer {
  background-color: rgba(255, 255, 255, 0.178);
}

.table{
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.438);
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
