<div class="row justify-content-lg-center g-3" style="margin: 50px;">
    <h1 style="text-align: center"><%= title %> </h1>
    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
    <div class="form-group" style="padding-top:30px">
        <label for="startDate">Start date:</label><br>
        <input type="date" id="startDate" name="startDate">
        <br>
        <br>
        <label for="endDate">Expiration date:</label><br>
        <input type="date" id="endDate" name="endDate">
        <br>
        <br>
        <button type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Next</button>
    </div>
    </form>
</div>